.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
}

.unread {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--primary-blue);
}

.wrapper:hover {
  cursor: pointer;
  background-color: #f6faff;
}
