<div class="wrapper">
  <nav>
    <app-logo />
    <div class="nav-group top">
      <app-navigation [path]="'/dashboard'">
        <svg-icon src="/assets/icons/pie-chart.svg" />
        <div>Dashboard</div>
      </app-navigation>
      <app-navigation [path]="'/sales-report'">
        <svg-icon
          src="/assets/icons/line-chart.svg"
          [svgStyle]="{ fill: 'transparent' }"
        />
        <div>Sales Report</div>
      </app-navigation>
      <app-navigation [path]="'/messages'">
        <svg-icon src="/assets/icons/messages.svg" />
        <div>Messages</div>
      </app-navigation>
    </div>
    <div class="nav-group bottom">
      <app-navigation [path]="'/settings'">
        <svg-icon src="/assets/icons/gear.svg" />
        <div>Settings</div>
      </app-navigation>
      <app-navigation [path]="'/sign-out'">
        <svg-icon src="/assets/icons/sign-out.svg" />
        <div>Sign Out</div>
      </app-navigation>
    </div>
  </nav>
  <header>
    <div class="header-content">
      <app-title />
    </div>
    <div class="header-content right">
      <app-language-selector />
      <div *ngIf="loggedInUser" class="user">
        <app-notification [hasUnread]="true" />
        <app-user-info [user]="loggedInUser" />
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <span>
      <strong>© Hirelytics.</strong> Terms and Conditions.
      {{ currentYear }}</span
    >
  </footer>
</div>
