<div class="wrapper">
  <section class="card">
    <app-candidate-overview />
  </section>
  <div class="two-sections-wrapper">
    <section class="card">
      <app-users-location />
    </section>
    <section class="card candidate-stats-wrapper">
      <app-candidate-statistics />
    </section>
  </div>
  <div class="card">
    <app-candidate-status />
    <div class="scores">
      <app-score-distribution />
    </div>
  </div>
  <div class="two-sections-wrapper">
    <section class="card">
      <app-top-hiring-companies />
    </section>
    <section class="card"><app-companies-hiring-statistics /></section>
  </div>
</div>
